@charset "UTF-8";
/* CSS Document 台中機關網 */
/*20161124
.share{position:fixed;left:0;top:190px;text-align:center;background:#fff;padding:5px;z-index:9000;box-shadow:rgba(0,0,0,.3) 2px 4px 10px 1px;}
.share h2{font-weight:normal;font-size:1em;}
.share ul{list-style:none;margin:3px 0 0;padding:0;overflow:hidden;}
.share li{margin:0;padding:0;width:48px;}
.share li a{display:block;width:48px;height:48px;overflow:hidden;}
.share li a img{width:48px;height:48px;}
.share li.close{ display:none;} */
.share{position:fixed;right:0;top:236px;text-align:center;background:#fff;color:#727d7f;padding:5px;z-index:9000;box-shadow:rgba(0,0,0,.4) -1px 3px 10px 1px;min-height:3.2em;}
.share a{text-decoration:none;}
.share span{display:block;font-weight:normal;font-size:.9em;line-height:1.1;color:#727d7f;}
.share span:first-child{transition: .3s;}
.share.mini span:first-child{transform: rotate(90deg);}
.share ul{list-style:none;margin:3px 0 0;padding:0;overflow:hidden;}
.share li{margin:0;padding:0;width:48px;}
.share li a{display:block;width:48px;height:48px;overflow:hidden;position: relative;outline: none;}
.share li a:after{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;box-shadow:#f7d 0 0 0 2px inset;display: none;}
.share li a:focus:after{display: block;}
.share li a img{width:48px;height:48px;}
.share li.close{display:none;} 
.share .after {position:absolute;left:2px;bottom:1px;}
.no-js .share{display:none;}

.cpArticle{padding:16px 0 0;margin:0 6px;line-height:1.7;font-size:1.1em;overflow:hidden;}
.cpArticle p{line-height:inherit;margin:0 0 1em;padding:0;}
.cpArticle figure{float:left;width:400px;margin:0 1em 1em 0;padding:9px;border:1px solid #ccc;box-shadow:rgba(0,0,0,.3) 0 1px 3px;}
.cpArticle figcaption{line-height:1.5;margin:9px 0 0;display:block;color:#888;font-size:.94em;}
.cpArticle figcaption:empty{display:none;}
.cpArticle figure img{display:block;width:400px;height:auto;margin:0 auto;}
/*table*/
.cpArticle table{width:100%;margin:.2em auto;border-collapse:collapse;line-height:1.8;border:2px solid #999;color:#111;}
.cpArticle table.noBorder{width:auto;margin:2em;border:none;}
.cpArticle table caption{font-weight:bold;text-align:left;font-size:1em;padding:.4em .5em;text-align:left;}
.cpArticle th, .cpArticle td{vertical-align:top;padding:.4em .5em;border:1px solid #ccc;}
.cpArticle .noBorder th, .cpArticle .noBorder td{border:none;padding:0}
.cpArticle th{color:#888;font-weight:normal;}
.cpArticle th[scope="row"]{text-align:right;vertical-align:top;width:15%;}
.cpArticle th[scope="col"]{text-align:center;vertical-align:middle;}
.cpArticle .list th, .cpArticle .list td{text-align:left !important;}
/*ul , ol*/
.cpArticle ul, .cpArticle ol{margin:.5em 0 1em 2em;padding:0;}
.cpArticle ul li, .cpArticle ol li{margin:0 0 .5em 0;}
.cpArticle .gmap{margin:2em 0;}
.cpArticle .gmap iframe{display:block;padding:0;margin:0 auto;width:100%;height:600px;border:none;}

.videoPlay{min-height:32em;}
.videoPlay object{float:left;margin:0 1.5em 2em 0;height:auto;}
.videoPlay embed{display:block;max-width:100%;}
.videoPlay object > a{display:block;font-size:1.3em;margin:.6em 0;}

/*-- attachment 附件*/
.attachment,
.seeAlso{clear:both;overflow:hidden;margin:3.5em 0;padding:0;}
.attachment ul,
.seeAlso ul{margin:0;padding:0;list-style:none;line-height:1.4;font-size:1em;}
.attachment ul li,
.seeAlso ul li{margin:0 0 .5em;padding:.5em 0 ;border-bottom:1px dotted #bbb;min-height:2em;}
.attachment li a,
.seeAlso li a{text-decoration:none;margin-left:.15em;}
.attachment li a:hover,
.seeAlso li a:hover{text-decoration:underline;}
.attachment h3,
.seeAlso h3{font-size:1.5em;margin:0 0 1em;padding:0 .1em .1em;border-bottom:2px solid #bbb;}


/*附件格式*/
.fileType,
.fileSize{display:inline-block;margin:0 .2em;padding:0 .4em;min-width:2.4em;height:1.7em;line-height:1.6em;font-size:1em;border-radius:4px;vertical-align:middle;text-align:center;}
.fileSize{color:#777;border:1px solid #ccc;box-sizing:border-box;}
.fileType{font-family:monospace, "Courier New", Courier, monospace;color:#fff;font-weight:normal;}
.fileType.zip{background:#444;}
.fileType.pdf{background:#c00;}
.fileType.doc{background:#1f609e;}
.fileType.xls{background:#297c17;}
.fileType.ppt{background:#ec7500;}
.fileType.jpg{background:#78b410;}
.fileType.mp3{background:#6747b1;}
.fileType.mov{background:#55bbfd;}
.fileType.txt{background:#999;}
.fileType.other{background:#ddd;color:#444;}

/*--附件：圖檔*/
.attachment .images{overflow:hidden;}
.attachment .images li{position:relative;float:left;overflow:hidden;line-height:16px;margin:0 10px 10px 0;padding:0; text-align:center;border:none;}
.attachment .images li a{display:block;width:200px;height:200px;margin:0;} 
.attachment .images li a:hover{text-decoration:none;}
.attachment .images li img{display:block;width:200px;height:200px;*max-width:200px;*max-height:200px;object-fit:cover;margin:0 auto;}
.attachment .images li p{position:absolute;left:0;bottom:-86px;margin:0;padding:6px;width:188px;max-height:86px;overflow:hidden;background:rgba(0,0,0,.6);color:#fff;font-size:.87em;line-height:19px;text-align:left;transition:.3s;}
.attachment .images li a:hover p,
.attachment .images li a:focus p{bottom:0;}
.attachment .images li a:before{content:"";position:absolute;left:0;top:0;right:0;bottom:0;border:2px solid #d00;display:none;z-index:9;}
.attachment .images li a:focus:before{display:block;}



.pubInfo{background:#66797d;color:#d0d3d3;margin:30px 0;padding:1.5em 8px .5em;clear:both;}
.pubInfo ul{list-style:none;margin:0;padding:0;line-height:1.1;}
.pubInfo li{margin:0 .6em 1em;padding:0;display:inline-block;}
.pubInfo li em{font-weight:normal;color:#fff;}

.meta table{width:100%;margin:.2em auto;border-collapse:collapse;line-height:1.8;border:2px solid #999;font-size:1em;}
.meta table caption{display: none}
.no-js .meta table caption{display: block}
.meta tr:hover{background:#f6f8f9;}
.meta th, .meta td{vertical-align:top;padding:.7em .5em .6em;border:1px solid #ccc;}
.meta th{min-width:5em;text-align:right;font-weight:normal;color:#888;}
.meta td{vertical-align:top;word-break:break-strict;}
.meta td img{max-width:100%;display:block;}
.meta td a{ word-break:break-all;}
.meta td iframe {display:block;padding:0;margin:0;width:1000px;max-width:100%;height:600px;border:none;}
a.mapMarker {display:inline-block;padding:0 .5em 0 2.2em;background:#fff url(../images/bubble.png) no-repeat .3em center;background-size:1.6em auto;margin-left:1em;min-height:2.4em;line-height:2.4em;border-radius:6px;border:1px solid #65adbb;text-decoration:none;}
a.mapMarker:hover,
a.mapMarker:focus{border-color:#186c7d;box-shadow:#186c7d 0 0 3px;outline:none;}

.meta ul,
.meta ol{list-style:none;margin:0;padding:0;color:#888;line-height:1.5;font-size:1.1em;}
.meta li{margin:0;padding:.6em 0;border-bottom:1px solid #ccc;}
.meta li:first-child{border-top:1px solid #ccc;}
.meta li em{color:#111;margin-left:.1em;font-weight:normal;}
.meta li em:before{content:'：';color:#888;}
.meta.resume{overflow:hidden;}
.meta.resume table{width:68%;float:left;margin:10px 0 0 0;}
.meta.resume figure{max-width:28%;background:#fff;float:right;padding:5px;margin:10px .8% 20px 0;box-shadow:#999 0 0 7px;}
.meta.resume figure img{width:100%;display:block;}


/*拍片景點、場館內容夜頁*/
.album .meta table {width:96%;margin:0 auto;background:#fff;}
.album .meta {padding:2em 0;}
.album .meta td ol,
.album .meta td ul{font-size:inherit;color:inherit;}
.album .meta td ol{list-style:decimal;margin:-.3em auto -.4em 2.5em;}
.album .meta td li{border:none;}


.photoThumb{margin:0 auto;padding:8px 0 8px;/*background:#444;*/border:1px solid #d9ddde;transition:.5s;}
.photoThumb ul{list-style:none;margin:0;padding:0;font-size:0;text-align:center;}
.photoThumb li{ display:inline-block;margin:0 1px 1px 0;padding:0;position:relative;}
.photoThumb li a{ display:block;outline:none;}
.photoThumb li img {display:block;width:72px;height:72px;object-fit:cover;margin:0;padding:0;}
.photoThumb li.active:before {content:'';position:absolute;left:-2px;top:-2px;width:72px;height:72px;border:2px solid #e50;z-index:99;}

.photoShow {position:relative;width:100%;margin:-15px auto 0;padding:30px 0 1em;height:560px;transition:.5s;}
.photoShow:hover{background:#eedaf0;}
.photoShow:hover ~ .photoThumb{background:#eef3f5;border-top-color:#fff;}
.photoShow li a{display:inline-block;box-shadow:rgba(0,0,0,.5) 0 0 4px 6px;transition:.3s;}
.photoShow li a:hover {box-shadow:rgba(0,0,0,.75) 0 4px 24px;}
.photoShow ul{list-style:none;text-align:center;margin:0;padding:0;}
.photoShow li{position:absolute;left:0;right:0;top:30px;margin:0 auto;padding:0;line-height:1.6;display:none;}
.photoShow li img{display:block;max-height:500px;max-width:100%;margin:0 auto;box-shadow:#fff 0 0 0 6px;}
.photoShow li span{line-height:inherit;display:inline-block;}
.photoShow li .caption {max-width:100%;margin:8px auto 0;display:block;color:#000}
.photoShow li .photoCount{background:rgba(240, 243, 244, .7);color:#444;border-radius:2em;padding:0 .4em 0 .7em;height:2em;position:absolute;right:12px;top:6px;letter-spacing:2px;font-size:.85em;border: 1px solid #fff;}
.photoCount:first-letter{font-size:1.25em;}
.photoShow li:first-child {display:list-item;}

.photoShow .btn{padding:0;margin:0;width:48px;height:64px;position:absolute;top:50%;left:12px;margin:-62px 0 0;border-radius:6px;cursor:pointer;background:rgba(0,0,0,.2)}
.photoShow .btn.next{left:auto;right:12px;}
.photoShow .btn:hover{background:rgba(0,0,0,.5)}
.photoShow .btn:before{content:'';position:absolute;top:15px;width:28px;height:28px;border:5px solid #fff;transform:rotate(45deg);border-top:none;border-right:none;}
.photoShow .btn.prev:before{margin-left:16px;}
.photoShow .btn.next:before{transform:rotate(225deg);margin-left:0;}

.ppause{position:relative;width:44px;height:44px;background:rgba(0,0,0,.5);display:none;}
.ppause:before, .ppause:after {content:'';position:absolute;top:12px;left:12px;width:6px;height:20px;background:#df0;}
.ppause:after {left:26px}
.ppause.pplay:before{ border:10px solid transparent;border-left:15px solid #df0;width:30px;height:20px;box-sizing:border-box;background:transparent;left:16px}
.ppause.pplay:after{display:none;}

.buttons{list-style:none;margin:0;padding:0;}
.preface{padding:2em 16px 1em;margin:0 0 1em;overflow:hidden;background:#f3f5f6;}
.preface h2{float:left;margin-bottom:1em;font-size:1.8em;font-weight:normal;}
.preface article{font-size:1.1em;text-align:justify;}
.preface ul{list-style:none;margin:0;padding:0;}
.preface li{margin:0;padding:0;}
.preface p{margin:1em 0;}
.preface .buttons{float:right;overflow:hidden;}
.preface .buttons + *{clear:both;}
.preface .buttons li{margin:0;padding:0;}
.preface .buttons li.extraBtn{clear:none;}
.preface .info, .preface .count{margin:1.3em 0 0;display:inline-block;color:#888;}
.preface .info em, .preface .count em{color:#000}
.preface .info em{font-weight:normal;}
.preface .count{float:right;}
.preface .info li, .preface .count li{margin:0 0 .8em 1.4em;display:inline-block;}
.preface .info li:first-child, .preface .count li:first-child{margin-left:0;}
.preface .count li.hot{padding-right:20px;background:url(../images/hot.png) no-repeat right 0;}

/*當期、單本雜誌*/
.eMag{position:relative;border:1px solid #bbb;padding:1em;margin:0 0 3em;overflow:hidden;box-sizing:border-box;}
.eMag h2{font-size:1.8em;margin:5px 0 .5em;line-height:1.1;font-weight:normal;clear:right;}
.eMag .contents{clear:both;padding:1em 0;-moz-column-count:2;-moz-column-gap:4em;-moz-column-rule:1px solid #ddd;-webkit-column-count:2;-webkit-column-gap:4em;-webkit-column-rule:1px solid #ddd;column-count:2;column-gap:4em;column-rule:1px solid #ddd;}
.eMag .meta ~ .contents{padding-top:3em;}
.eMag.LatestIssue .contents{clear:none;}
.contents h2{margin:0 0 .6em;padding:0 0 .1em;border-bottom:3px solid #888;}
.contents dl{overflow:hidden;margin:0;padding:0;color:#555;}
.contents dt{display:block;font-size:1.25em;margin:.8em 0 .3em;color:#998;}
.contents dt:first-child{margin-top:0;}
.contents dd{margin:0 0 .4em;}
/*.eMag.LatestIssue .contents dl:after{content:'... ... ...'}*/
.eMag .image{float:left;width:33%;height:auto;padding-right:2%;}
.eMag .image img{display:block;margin:0 auto;max-width:100%;height:auto;border:1px solid #bbb;}
.eMag.LatestIssue .image{width:270px;margin-right:10px;}
.eMag.LatestIssue .image img{width:270px;}
.eMag .buttons{margin:.7em auto 0;padding:0;text-align:center !important;overflow:hidden;}
.eMag .buttons li, .eMag .info li, .eMag .count li{float:none;margin:0;padding:0;display:inline-block;}
.eMag .buttons li a, .eMag .info li, .eMag .count li a{height:3em;line-height:3em;border-radius:6px;min-width:6em;}
.eMag .meta ~ .buttons li{display:inline-block;}
.eMag .meta + .buttons{text-align:right;margin:1em 0 0;}
.eMag .image .buttons{text-align:center;}
.eMag .image .buttons li{display:inline-block;}
.eMag .meta{margin-left:35%;}


/*市長政見*/
ol.policies{position:relative;list-style:none;margin:-20px auto 0;padding:0;width:768px;height:670px;background:url(../../main/images/policies.png) no-repeat 0 0;}
.policies>li {margin:0;padding:0;}
.policies>li>a{position:absolute;width:250px;height:80px;border-radius:80px;text-indent:-12em;overflow:hidden;}
.policies>li>a:hover{outline:none;}
.policies>li>a:focus {outline:none;border:1px solid #fff;box-shadow:#fff 0 0 6px 1px;}
.policies>li>a[title="經濟發展"]{width:250px;height:80px;left:132px;top:6px;}
.policies>li>a[title="治安維護"]{width:250px;height:64px;left:445px;top:40px;}
.policies>li>a[title="交通建設"]{width:270px;height:76px;left:108px;top:94px;}
.policies>li>a[title="防災治洪"]{width:210px;height:55px;left:445px;top:112px;}
.policies>li>a[title="國際新都"]{width:200px;height:66px;left:184px;top:195px;}
.policies>li>a[title="文化教育"]{width:300px;height:80px;left:445px;top:182px;}
.policies>li>a[title="衛生環保"]{width:260px;height:60px;left:120px;top:276px;}
.policies>li>a[title="社會福利"]{width:270px;height:90px;left:445px;top:280px;}
.policies>li>a[title="觀光休閒"]{width:330px;height:72px;left:62px;top:350px;}
.policies>li>a[title="政府效能"]{width:260px;height:60px;left:445px;top:396px;}
.policies>li>a[title="青年政策"]{width:250px;height:66px;left:143px;top:434px;}
.policies>li>a[title="客家政策"]{width:220px;height:66px;left:445px;top:465px;}
.policies>li>a[title="中彰投區域聯合共治"]{width:370px;height:64px;left:12px;top:508px;}
.policies>li>a[title="原住民族政策"]{width:280px;height:70px;left:442px;top:540px;}

.pHilight{ margin:0 0 4em;padding:0 32px;}
.pHilight h2 {margin:1em -32px -1.5em;padding:0;font-size:1.6em;}
.pHilight h2 em{display:inline-block;margin:0 .3em 0 0;font-size:2em;}
.pHilight h3{font-size:22px;font-size:1.4em;}
.pHilight h3 span{display:inline-block;margin:0 .65em 0 0;padding:0 1em 0 0;width:4.5em;text-align:right;background:#f36d0f;color:#fff;border-radius:2em;}
.pHilight h3 span em{font-size:1.4em;margin-left:.15em;line-height:1.8em;height:1.8em;font-family:"Times New Roman", Times, serif;}
.pHilight>ul{list-style:none;margin:0 0 5em;padding:0;line-height:1.7;}
.pHilight>ul>li {margin:0;padding:1em 0 .6em;border-bottom:1px solid #bbb;}
.pHilight>ul>li>p, .pHilight>ul>li>ol{padding-left:8.8em}
.pHilight>ul>li>h3 {padding-left:8em}

.pHilight a[name="c01"]+h2+ul h3 span{background:#ffbf10;color:#584002;}
.pHilight a[name="c02"]+h2+ul h3 span{background:#00c3ac;}
.pHilight a[name="c03"]+h2+ul h3 span{background:#0094a8;}
.pHilight a[name="c04"]+h2+ul h3 span{background:#3ed5de;color:#285258;}
.pHilight a[name="c05"]+h2+ul h3 span{background:#cce100;color:#314a47;}
.pHilight a[name="c06"]+h2+ul h3 span{background:#f36d0f;}
.pHilight a[name="c07"]+h2+ul h3 span{background:#3ed5de;color:#285258;}
.pHilight a[name="c08"]+h2+ul h3 span{background:#ffbf10;color:#584002;}
.pHilight a[name="c09"]+h2+ul h3 span{background:#0094a8;}
.pHilight a[name="c10"]+h2+ul h3 span{background:#cce100;color:#314a47;}
.pHilight a[name="c11"]+h2+ul h3 span{background:#f36d0f;}
.pHilight a[name="c12"]+h2+ul h3 span{background:#00c3ac;}
.pHilight a[name="c13"]+h2+ul h3 span{background:#00c3ac;}
.pHilight a[name="c14"]+h2+ul h3 span{background:#0094a8;}

@media screen and (max-width:1120px) {
	.cpArticle,
	.meta{padding:15px 30px 0;}
	.cpArticle .meta{padding:15px 0 0;}
	.videoPlay{padding:15px 30px 40px;}
	.attachment, .seeAlso{margin:30px;}
	.eMag{border:none;}
}
@media screen and (max-width:1000px) {
	.share{top:200px;left:50%;margin:0 auto 0 -180px;padding:1.5em 0 0;width:360px;height:auto;background:#c5c8c9;border-radius:21px;box-shadow:rgba(0,0,0,.6) 0 5px 40px;display:none;}
	.share h2{font-size:1.4em;text-align:center;font-weight:normal;color:#000;}
	.share ul{list-style:none;margin:.2em 0 0;padding:0;font-size:1.5em;text-align:left;}
	.share li{margin:.25em .6em;width:auto;height:auto;font-weight:normal;}
	.share li a{display:block;overflow:hidden;width:auto;height:auto;background:#fff;white-space:nowrap;line-height:64px;color:#000;}
	.share li a img{float:left;width:64px;height:64px;margin-right:.5em;}
	.share li.close{display:block;text-align:center;width:3em;padding:.4em 1em;margin:.6em auto;background:#fff;border-radius:2em;}

	.LatestIssue .contents{-moz-column-count:1;-moz-column-gap:1em;-webkit-column-count:1;-webkit-column-gap:1em;column-count:1;column-gap:1em;}
	.eMag.LatestIssue .buttons li{display:block;width:auto;}
	.eMag.LatestIssue .buttons li a{display:block;width:auto;margin:0 0 8px;}

	.seeAlso ul li a{display:block;padding:.8em 0 .2em;}
	.attachment, .seeAlso{margin:30px 15px;}
	.attachment .images li{float:none;display:inline-block;vertical-align:top;width:24%;margin:0 .4% 10px 0;border:1px solid #999;box-sizing:border-box;}
	.attachment .images li:nth-child(4n) {margin-right:0;}
	.attachment .images li a{width:auto;height:auto;}
	.attachment .images li img{width:100%;height:auto;}
	.attachment .images li p{position:static;width:auto;background:none;color:#888;max-height:4em;font-size:.88em;line-height:1.4;}
}
@media screen and (max-width:800px) {
	.share{top:70px;width:300px;margin-left:-150px;}
	.share h2, .share ul{font-size:1.15em;}

	.cpArticle{padding-left:15px;padding-right:15px;margin:0;}
	.videoPlay{padding:15px;}
	.videoPlay object{display:block;max-width:100%;float:none;margin:0 auto 2em;border-bottom:3px solid #bbb;}

	.meta{margin:1em 0 0;padding-left:0;padding-right:0;}
	.cpArticle .meta{margin-left:-15px;margin-right:-15px;}

	.meta h2{margin:0 16px;font-size:1em;}
	.meta table{border:none;}
	.meta tr{display:block;border-top:1px solid #bbb;padding:.8em 16px;}
	.meta th, .meta td{display:inline-block;text-align:left;border:none;width:auto;padding:.2em 0;}
	.meta th{min-width:0;background:#e5e8e9;border-radius:0 2em 2em  0;padding-left:16px;padding-right:.9em;margin-left:-16px;margin-right:.5em;}
	.meta td iframe{margin:.5em auto 0;height:400px;}
	.meta.resume table{width:100%;float:none;margin:0;}
	.meta.resume figure{width:92%;max-width:none;float:none;margin:10px auto 2em;}
	.pubInfo ul{font-size:.67em;}
	.pubInfo li em{font-size:1.25em;}

	.album .meta table {width:100%;}
	.photoShow {width:100%;height:440px;}
	.photoShow li img{max-width:100%;max-height:400px;}
	.photoShow li .caption{font-size:.85em;margin:5px 12px 0;}
	.photoShow li .photoCount{font-size:.65em;}

	.preface{margin:0;padding-top:.8em;}
	.preface h2{font-size:1.4em;}
	.preface .info, .preface .count{font-size:.9em;display:block;}
	.preface .info li{margin:0 0 .8em;display:block;}
	.preface .count{float:none;text-align:left;}
}
@media screen and (max-width:600px) {
	.cpArticle figure{float:none;width:100%;margin:0 auto 2em;box-sizing:border-box;}
	.cpArticle figcaption{font-size:.88em;}
	.cpArticle figure img{width:100%;}
	.cpArticle th[scope="row"]{width:auto;}

	.cpArticle .list  table{border:none;}
	.cpArticle .list td{border:none;border-bottom:1px dotted #ccc;}

	.attachment .images li{display:block;width:100%;margin:0 0 12px;}
	.attachment .images li p{max-height:auto;}

	.meta{margin:1em 0 0;}
	.meta h2{margin:0 16px;font-size:1em;}
	.meta table{border:none;}
	.meta tr{display:block;border-top:1px solid #bbb;padding:.8em 16px;}
	.meta th, .meta td{display:inline-block;text-align:left;border:none;width:auto;padding:.2em 0;}
	.meta th{min-width:0;background:#e5e8e9;border-radius:0 2em 2em 0;padding-left:16px;padding-right:.9em;margin-left:-16px;margin-right:.5em;}
	.meta td iframe{ margin:.5em auto 0;height:400px;}
	.meta.resume table{width:100%;float:none;margin:0;}
	.meta.resume figure{width:92%;max-width:none;float:none;margin:10px auto 2em;}
	.pubInfo ul{font-size:.67em;}
	.pubInfo li em{font-size:1.25em;}

	.photoShow{height:auto;padding-top:30px;border-bottom:1px solid #fff;}
	.photoShow li a,
	.photoShow li a:hover,
	.photoShow li a img {box-shadow:none}
	.photoShow li{top:0;}
	.photoShow li img{height:90%;width:100%;object-fit:contain;}
	.photoShow .btn{left:0;top:200px;} .photoShow .btn.next{right:0;}
	.photoShow .btn:before{width:20px;height:20px;border-width:3px;top:21px;}
	.photoShow .btn.next:before{margin-left:3px;}
	.photoThumb{display:none;}
	.ppause{top:auto;left:50%;margin-left:-22px;display:block;}

	.eMag .image, .eMag.LatestIssue .image{float:none;width:100%;height:auto;margin:0;}
	.eMag .image img, .eMag.LatestIssue .image img{width:100%;max-height:none;}
	.eMag.LatestIssue .buttons{font-size:1.2em;}
	.eMag.LatestIssue .buttons li{clear:none;float:left;width:49%;}
	.eMag.LatestIssue .buttons li:last-child{float:right;}
	.eMag.LatestIssue .buttons li a{padding-left:0;padding-right:0; min-width:0;}
	.eMag h2{font-size:1.4em;margin-top:1.5em;}
	.eMag .meta{float:none;width:100%;margin:.6em 0 0;}
	.eMag .meta + .buttons{text-align:center;padding-top:0;}
	.eMag .contents{padding-top:0;-moz-column-count:1;-moz-column-gap:1em;-webkit-column-count:1;-webkit-column-gap:1em;column-count:1;column-gap:1em;}
}

