@charset "utf-8";
/* CSS Document */

/* 因為瀏覽器支援問題，暫時不使用
:root{
	--primary: #8957A1;
	--focusColor : #d74be1;
} 
*/

html{-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;min-height:100%;
background-image:url('../images/tcg_bg.png');
	background-color:#f9f2d0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: center top;
}
body{margin:0;padding:0;color:#444;font-family:"微軟正黑體", Helvetica, Arial, sans-serif;min-height:inherit;font-size:15px;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display:block;margin:0;padding:0;}
audio, canvas, video{display:inline-block;}
.main{max-width:1192px; margin:0 auto;background-color: #fff}
/*初始值*/
.goCenter{position: absolute;top: 5px;z-index: 9999;padding:1px 3px;border: 1px solid #ec7505;opacity:0;background-color: #fff}
.goCenter:focus{opacity:1;}

a.accesskey{position:absolute; z-index:7777;color:#fff;text-decoration: none;}
.center .accesskey{margin-left:-1.2em;}
.footer .accesskey{color:#93abc0;}
.accesskey:focus{color:#000;}


a{text-decoration:none;color:#777;}
a:hover{color:#000;text-decoration:underline;outline: none}
/* a:focus{color:#000;text-decoration:none;outline:3px solid yellow;}  */
article a{color:#2e779d;text-decoration:underline;}
em{font-style:normal;font-weight:bold;}
img{border:none;}
h1, h2, h3, h4 h5, h6{margin:0;padding:0;color:#000;font-weight:400}
p{line-height:1.7;margin:0 0 1.2em;}
abbr, abbr[title] {text-decoration: none;}

.date , a .date{color:#777;display:inline-block;white-space:nowrap;}

.goTop{position:fixed;bottom:0;left:50%;margin-left:-32px;width:80px;height:40px;text-align:center;color:#fff;z-index:7780;display:none;overflow: hidden;text-indent: -10em;}
.goTop a{display: block;height:100%;background:rgba(0,0,0,0.4) url(../images/goTop.png) no-repeat center 12px;background-size:32px;border-radius:40px 40px 0 0;}
.goTop a:hover{background-color:rgba(0,0,0,.8);}
.goTop a:focus{background-color:rgba(200,0,0,.9); outline:none;}
.no-js .goTop{display: block;}


.more{text-align:right;font-size:.86em;line-height:1.1;}
.more a{display:inline-block;text-decoration:none;background:url(../images/more.png) no-repeat right top;padding-right:10px;text-decoration:none;}
.play a{display:block;width:100%;height:100%;background:url(../images/videoPlay.png) no-repeat center center;opacity:.6;background-size:84px;font-size: 0;}
.play a:hover{background-color:rgba(0,0,0,0.1);opacity:1;}
/*一般版隱藏項目*/
.sidebar, .sidebarCtrl, .backHome, .navi, .searchbtn{display:none;}


.header{position:relative;padding:20px 0 0;margin:0;background:#fff;border-bottom:1px solid #333;z-index:5000 ;font-size:1em;line-height:1.067;}
.header *:focus{outline: none;}
.header.fixed{position:fixed;left:0;right:0;top:0;box-shadow:rgba(0,0,0,0.4) 0 1px 6px 2px;background:rgba(255,255,255,.95);width:1192px;max-width: 100%;margin:0 auto;}

.header>h1{padding:0 ;margin:0 0 0 20px;}
.header>h1 img{width:auto;display:block;margin:0 ;}
.header>h1 a:focus img{box-shadow:#d74be1 0 0 0 2px;}




.header .menu{background:url('../images/mainmenu_bg.jpg') repeat-x 0 0;width:100%;margin:0 auto;text-align:center;clear:both;z-index:5000;}
.header .menu ul{list-style:none;margin:0;padding:0;}
.header .menu ul a{display:block;color:#fff;transition:all .2s;outline:none;text-decoration:none;}
/* .header .menu ul li:hover>a{background-color:#7c8785;color:#fff;} */
.header .menu ul li>a:hover{background-color:#552a59;color:#fff;}
.header .menu ul a:focus{background-color:#552a59;color:#fff; outline:none;}
.header .menu>ul{padding:0;margin-bottom:-3px;font-size:18px;line-height:20px;display:inline-block;}
.header .menu>ul>li{position:relative;margin:3px 10px 0;padding:0;float:left;}
.header .menu>ul>li:before{content:"";width: 0;
height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #fff transparent transparent transparent;display: block;position:absolute;left:10px;top:15px;}
.header .menu>ul>li>a{padding:9px 20px 8px 30px;}
.header .menu li li.hasChild>a{padding-right:32px;background-image:url(../images/menu_a_hasChild.png);background-repeat:no-repeat;background-position:154px 10px;}
.header .menu ul ul{display:none;overflow:visible;width:180px;background:#c593ca;font-size:16px;padding:0;position:absolute;top:auto;left:0;border:1px solid #fff;text-align:left;margin-top:0px;box-shadow:rgba(0,0,0,0.5) 0 5px 12px;border-radius: 0 0 5px 5px}
.header .menu li li{position:relative;float:none;padding: 5px}
.header .menu li li:first-child{border:none;}
.header .menu li li a{padding:8px;}
.header .menu li li a:hover, .header .menu li li a:focus{background-color:#fff; border-radius:5px; color:#89488f;}
.header .menu ul ul ul{top:0;left:180px;margin-top:-1px;}
.header .search2 {display: none}

.header .search {display: inline-block;line-height:1.1; margin:20px 0 20px 20px;}
.header .search form{display:inline-block;padding:0;border-radius:6px;vertical-align:middle;background-image:url('../images/search_icon01.gif');background-position:8px 8px;background-repeat:no-repeat;border-radius:50px;border:2px solid #89488f;
	width:140px;height:30px;padding:4px 0 0 2em;}
.header .search form label{font-size: 0}
.header .search form:hover{border-color:#444;}
.header .search form input{vertical-align:top;margin:0;border:none;outline:none;}
.header .search input[type="text"]{font-size:15px;line-height:26px;height:26px;width:6em;padding:0 30px 0 8px;margin: 0;background:none;transition:width .5s;border-radius:1.5em;text-align: left;border:none;}
.header .search input[type="text"]:focus{box-shadow: #d74be1 0 0 0 2px;}
.header .search input[type="submit"]{text-indent:-100px;border:none;background:#999 url(../images/search_submit.png) no-repeat center center;width:22px;height:22px;cursor:pointer;background-size:16px;margin:2px 0 0 -29px;border-radius:50%;}
.header .search input[type="submit"]:hover{background-color:#666;}
.header .search input[type="submit"]:focus{background-color:#666;border-radius:50%;}

.header .search .btnAdv{display: inline-block;color: #89488f;height:2.6em;line-height:1.25;width: 5.5em;padding: 0;margin:2px 0 0 3px;font-size: 13px;font-weight: bold;vertical-align: middle;}
.header .search .btnAdv:hover,
.header .search .btnAdv:focus {text-decoration: underline;color:#cd0eb0 }


.search .keywordHot{display:inline-block;border-left: 1px solid #fff; padding-left: 8px;}
.keywordHot{vertical-align:middle;}
.keywordHot ul{list-style:none;margin:0;padding:0;display:inline-block;}
.keywordHot li{margin:0 .25em;padding:0;display:inline-block;}
.header .search *:focus{ outline-color:#fff;}
@media(max-width: 1000px){
	.header .search2 {
		width:90%;height:40px;
		margin:20px 0 0;
		background-position:13px 13px;
	}
	.header .search2 input[type="text"]{font-size:18px;line-height:35px;height:35px;}
}
/*20170224 查詢欄位自動填入*/
.ui-widget-content{position: fixed;top: 33px; left: 12px;max-height: 90%;list-style: none;margin: 0;padding: 0;width: 220px; background-color: #fff;background-color: rgba(255,255,255,.95);box-shadow: rgba(0,0,0,.6) 1px 4px 12px;border: 1px solid #bbb;z-index: 9999;line-height: 1.3;overflow-y:scroll; }
.ui-widget-content li{margin: 0;padding: 0;}
.ui-widget-content li div {padding: 6px 10px;cursor: pointer;transition: .2s;}
.ui-widget-content li div:hover{background: #667076;color: #fff;}
/*行動版隱藏式側欄*/
.sidebar{z-index:9999;position:fixed;top:0;height:100%; background-color:#fff;width:290px;overflow-y:auto;border-right:1px solid #bbb;transition: .5s;margin-left: -290px;}
.sidebar[style*="margin-left:0px"]{box-shadow:rgba(0,0,0,.5) 0 0 16px;}
.sidebar a{color:#000;}
.sidebar .sidebarCtrl{text-align:center;margin:1em 16px;}
.sidebar .sidebarCtrl a{display:block;padding:.5em 1em;border-radius:2em;background:#5e676e;color:#fff;}
/*menu*/
.sidebar .menu ul{list-style:none;margin:0;padding:0;overflow:hidden;font-size:24px;line-height:1.2;}
.sidebar .menu a{display:block;padding:.7em 16px;transition:.4s;}
.sidebar .menu a:hover,
.sidebar .menu a:focus{background-color:#f6e9fe;}
.sidebar .menu>ul>li>a{border-bottom:1px solid #bbb;}
.sidebar .menu li.hasChild>a{padding-right:36px;background-image:url(../images/menu_a.png);background-repeat:no-repeat;background-size:44px auto;background-position:right 24px;}
.sidebar .menu li.hasChild.closeThis>a{background-position:right -124px;}
.sidebar .menu li li.hasChild>a{background-size:36px auto;background-position:right 20px;}
.sidebar .menu li li.hasChild.closeThis>a{background-position:right -102px;}
.sidebar .menu ul ul{display:none;padding:16px 12px;font-size:.86em;background:rgba(0,4,8,.05);box-shadow:rgba(0,0,0,.4) 0 0 10px 1px inset;}
.sidebar .menu li li:first-child>a{border-top:1px solid #bbb;}
.sidebar .menu li li a{border-bottom:1px solid #bbb;padding:.6em 12px;}
.sidebar .menu ul ul ul{font-size:1em;}

.sidebar .search{position:static;margin:0;padding:8px 12px 9px;border-bottom:3px solid #bbb;}
.sidebar .search input{border:none;font-size:inherit;display:inline-block;border-radius:2em;height:2em;line-height:2;vertical-align:top;margin:0;}
.sidebar .search input[type="text"]{padding:0 .8em;background:#fff;width:170px;border:1px solid #bbb;box-shadow:none;}
.sidebar .search input[type="submit"]{text-indent:-200px;background:#5d666d url(../images/search_submit.png) no-repeat center center;width:2em;border:1px solid #5d666d;}
.sidebar .search input[type="text"]:focus{border-color:#555;}
.sidebar .search input+a{display:none;}
/*隱藏式側邊選單出現時的遮罩*/
.overlay{display:none;opacity:0;position:fixed;top:0;left:0;width:100%;height:100%;min-height:inherit;background-color:#000;z-index:8888;}
.center{position:relative;margin:0 auto;padding:0;max-width:1070px; }
.mpcenter{position:relative;margin:0 auto;padding:0;max-width:1192px; }
/*noscript*/
noscript{background:#ffb;border:dashed 1px #db0;padding:.3em .5em .2em;line-height:1.5;display:inline-block;}
noscript .key {display:inline-block;border:solid 1px #888;background:#fff;padding:3px 4px;line-height:1;margin:0 2px;}
noscript .command{font-weight:bold;text-decoration:underline;}
.fontSize+noscript{position:absolute;right:10px;top:45px;}
.function noscript { display:inline-block;width:20em;}
.share noscript{width:4em;text-align:left;overflow:visible;}
.news noscript, .goTop+noscript, .adloop+noscript{border:none;background:none;position:absolute;}

@media screen and (max-width:1000px){
	body{ font-size:18px;margin:0 auto;}
	/*行動版隱藏項目*/
	.accesskey, .navigation, .fontSize,  .friendly, .rss, .center>header,.header .menu, .main .search,.ui-widget-content, .center .share{display:none;}
	/*行動版顯示項目*/
	.sidebarCtrl, .backHome, .navi, .sidebar, .searchbtn, .search2 {display:block;}
	/*初始值*/
	a{color:#000;}
	a:hover{text-decoration:none;}
	a:focus{outline:none;}

	.header{left:0;right:0;top:0;padding:25px 88px;background:rgba(255,255,255,.95);}
	.header.fixed{position:fixed;left:0;right:0;top:0;z-index:777;box-shadow:rgba(0,0,0,0.4) 0 1px 6px 2px;}
	.header>h1{ padding:0;margin:0 0 0 10px;}
	.header .sidebarCtrl{position:absolute;font-size:0;top:15px;left:15px;}
	.backHome{position:absolute;font-size:0;top:15px;right:15px;}
	.searchbtn{position:absolute;font-size:0;top:15px;right:15px;}
	.header .sidebarCtrl a, .backHome a, .searchbtn a{display:block;width:62px;height:62px;background-repeat:no-repeat;background-position:0 0;background-size:100%; }
	.header .sidebarCtrl a{background-image:url(../images/header_menu.png)}
	.backHome a{background-image:url(../images/header_home.png);background-position:right top;background-repeat:no-repeat;}
	.searchbtn a{background-image:url(../images/header_searchbtn.png);background-position:right top;background-repeat:no-repeat;}
	.preface{margin:0 16px;}
	.center > h2{margin:2em 16px .4em;}
	.header .search2{
		display: block
	}
}
@media screen and (max-width:800px){
.header h1 img{ width:100%; }
}
@media screen and (max-width:600px){
	body{font-size:20px;}
	.backHome{right:10px;}
	.searchbtn{right:10px;}
	.header .sidebarCtrl{left:10px;}
	.header{padding:25px 68px;}
	.header>h1{margin:0 0 0 0px }
	
	
	.header .sidebarCtrl a, .backHome a, .searchbtn a{width:48px;height:48px;}
	.sidebar .search input[type="text"]{width:160px;}
}
@media screen and (max-width:400px){
	
	.header .sidebarCtrl a,
	.backHome a{width:36px;height:36px;}
	.searchbtn a{width:36px;height:36px;}
	.header{padding:20px 55px;}
	.header>h1{margin:0 0 0 0px }
	
	
}

/* footer -------------------------------------------------- */
.footer{
	clear:both;position:relative;padding:48px 0 0;margin:60px 0 0;
	font-size:1em;line-height:1.3; 
	background:#93abc0;color:#888;
}
.footer a{ text-decoration:none; outline: none;}

.fatfootCtrl{position:absolute;top:8px;right:30px;left:50%;margin-left:-22px;}
.fatfootCtrl input{display:block;text-indent:-100px;width:44px;height:32px;border:none;cursor:pointer;background:url(../images/fatfootCtrl2.png) no-repeat center 8px;opacity:.5;border-radius: 5px;}
.fatfootCtrl input.close{background-position:center -92px;}
.fatfootCtrl input:hover,
.fatfootCtrl input:focus{opacity:1;background-color:#6f8293;outline: none;}

.footer>nav{display:block;position:relative;width:90%; margin:0 auto;}
.footer>nav ul{list-style:none;margin:0;padding:0;text-align:left}
.footer>nav ul ul{margin:1.2em 0 1.5em 0;line-height:1.35;}

.footer>nav ul ul ul{display:none;}
.footer>nav>ul{margin:0 0 24px 0;padding:10px 0 0;}
.footer>nav>ul>li{margin:0 10px 0 0;padding:0;display:inline-block;width:138px;vertical-align:top;}
.footer>nav ul ul li{margin:0 0 .3em} 
.footer>nav li a{display:block;padding:5px 6px;color:#fff}
.footer>nav>ul>li>a{font-weight:bold;line-height:1.1;}
.footer>nav li a:hover,
.footer>nav li a:focus{border-radius: 4px;color: #fef400;background: rgba(0,0,0,.25);text-decoration: none;box-shadow: rgba(0,0,0,.3) 0 0 5px inset;outline: none;}



.footer>section{
	position:relative;clear:both;margin:0;padding:40px 0 80px;
	background:#815f9d; color:#ffc;
}
.footer>section a{ color: #fff !important; border-bottom: 1px solid #fff; }
.footer>section a:hover,
.footer>section a:focus{border-bottom-width: 2px;}
.footer>section a:focus-visible { outline: 2px solid #fff;}

/* logo */
.footer>section>div:first-child{width: 520px; margin: 0 0 30px 4%;}
.footer>section>div:first-child img { width: 100%; height: 60px; object-fit: scale-down;}

.footer>section>ul,
.footer>section>p:not(.markA, .egov){ position:relative;text-align:left;margin:0 auto .5em; width: 92%; line-height: 1.5;}
.footer>section>p + p:not(.markA, .egov){ margin-top: .8em;}
.footer>section>p a{line-height: 1.2;}

.footer>section>ul{list-style:none;margin-top:36px; margin-bottom:1.8em;padding:0;}
.footer>section>ul>li{display:inline-block;margin:0 1.5em 8px 0;}
.footer>section>ul>li a{ line-height: 1.2; padding: 2px 2px 0;}


.footer>section>ul>li a:focus-visible { outline: 2px solid #fff;}
.footer>section div{margin:0px 0 10px 40px;}

.visitor, .update{display:inline-block; margin:0 0 1.5em 0;}
.visitor + .update , .update + .visitor { margin-left: 24px;}
.footer>section>ul+.visitor, .footer>section>ul+.update {margin-left:4%;}
.visitor em, .update em{font-weight:normal;}
.visitor em:before, .update em:before{content:'：';}

/* 20250122 */
.footer .markA, .footer .egov{position:absolute;line-height:1;margin:0; top:50px; left: auto; }
.footer .markA a, .footer .egov a{ border: none;}
.footer .markA { width: 132px; right:calc(4% + 60px);}
.footer .egov{ width: 43px; right:4%;}
.markA a, .egov a,
.markA img, .egov img{display:block; width: 100%;}
.markA a:hover, .egov a:hover,
.markA a:focus, .egov a:focus {
	box-shadow: #fff 0 0 0 3px; background: #fff;
}

.qrcode{position:relative;float:right;top:0;right:50%;margin:0 -490px 10px 0;list-style:none;padding:0;}
.qrcode li{margin:0 0 10px;padding:0;}
.qrcode li a{display:block;}
.qrcode li img{display:block;width:160px;border:5px solid #fff;border-radius:8px;}
.qrcode li a:hover img,
.qrcode li a:focus img{border-color: #fc4;}
.qrcode li a:focus{outline: none;}
#ipv6_enabled_www_test_logo { position:absolute;top:100px; left:50%; margin-left:330px }

@media screen and (max-width:1060px){
	
	.footer>nav{width:95%; }
	
}
@media screen and (max-width:1000px){
	.footer{font-size:.9em;margin:0;padding-top:0;}
	.footer>nav, .fatfootCtrl, .qrcode, 
	#ipv6_enabled_www_test_logo {display:none;}
	.footer>section{padding-bottom: 120px;}
	.footer>section>div:first-child{ max-width: 92%; margin-right: 4%; }
	.footer .markA, .footer .egov{
		right: auto; top: auto; bottom: 50px;
	}
	.footer .markA{ left: 4%;}
	.footer .egov{ left: calc(4% + 150px);}
}

/* footer 2015 end -------------------------------------------------- */



/*------------------------主欄*/
.center>header{clear:both;margin:0 0 15px;padding:0;border-bottom:4px solid #89488e;overflow:hidden;}
.center>header>h2{font-size:1.8em;display:inline-block;line-height:1.4;}
.center>header .rss{float:right;font-size:0;margin-top:5px;}
.center>header .rss a{display:block;width:28px;height:28px;background:#c1c4bc url(../images/rss.png) no-repeat center center; margin:0;border-radius:5px;}
.center>header .rss a:hover{background-color:#7c8785;}
.center>header .rss a:focus{background-color:#7c8785;outline:none;}
.center>header ul{list-style:none;margin:6px 0 3px;padding:0;color:#999;}
.center>header li{margin:0 1em .4em  0;padding:0;display:inline-block;}
.center>header li em{color:#555;font-weight:normal;}
@media screen and (max-width:1120px){
	.center>header{padding:0 30px;}
}
@media screen and (max-width:800px){
	.center>header>h2{font-size:1.2em;}
	.center>header ul{font-size:.8em;}
}


/* 行動版導覽列 */
.navi{position:relative;background:#552a59;color:#fff;padding:.6em 88px;text-align:center;min-height:40px;}
.navi>h2{font-size:1.5em;line-height:40px;display:inline-block;text-align:left;color:#fff;}
.navi .back a{position:absolute;left:0;top:0;bottom:0;background:url(../images/navBack.png) no-repeat center center;width:84px;background-size:auto 38px;line-height:1;font-size: 0;}
.navi .shareThis a{position:absolute;left:auto;right:0;top:0;bottom:0;width:84px;border-radius:0;padding:0;background:url(../images/share.png) no-repeat center center;background-size:34px;font-size: 0;}
.navi .back a:hover,
.navi .back a:focus ,
.navi .shareThis a:hover,
.navi .shareThis a:focus{background-color:#5d666f;}
@media screen and (max-width:800px){
	.navi>h2{font-size:28px;}
	.navi .back a, .navi .shareThis a{width:64px;}
	.navi{padding-left:70px;padding-right:70px;}
}


/* 以下為桌機版才有的區塊 */
.navigation{position:absolute;top:0;right:0; padding:9px 1em 0 0; height:1.67em; text-align:right;font-size:inherit;} 
.navigation ul{list-style:none;margin:0;padding:0; overflow: hidden; line-height: 1.1;}
.navigation li{margin:0 0 0 .8em;padding:0;display:inline; float: left;}
.navigation li a{display:block; position: relative; padding-bottom: 1px;}
.navigation li a::after{content: '';position: absolute; left: 0;right: 0;bottom: -4px;height: 2px; 
	background-color: #d74be1;}
.navigation li a:hover::after, .navigation li a:focus::after{bottom: 0;}
.navigation li:first-child a{border:none;}


.fontSize{position: absolute;right:15px;top: 90px;font-size: 1em;z-index:5500;}
.fontSize span{line-height:1;font-weight: normal;font-weight: bolder;float:left; padding-top:15px;}
.fontSize ul{list-style:none;margin:0 0 0 8px;padding:0;line-height:1;float:left;}
.fontSize li{margin:0;padding:0; float:left;}
.fontSize li a{display:block;width:33px;height:40px;line-height:40px;margin:0 auto;text-align:center;border:1px solid transparent;text-decoration: none;color:#fff;}

.fontSize li a:focus{color: #fff;outline: none;}
.fontSize li.fontSize_S a{background-color:#a83aaf;}
.fontSize li.fontSize_M a{font-size: 1.2em;background-color:#8b35a7;}
.fontSize li.fontSize_L a{font-size: 1.47em;background-color:#701b97;}
.fontSize li a:hover{color:#fbdb65;}
.fontSize li a:focus{ box-shadow: #ef77f7 0 0 0 1px inset; border-color: #ef77f7;}

.fontSize li a.here{display:block;}
.fontSize:hover li a{display:block;}
/* .fontSize:hover{height:90px;background-position:right 92px;} */
/* .fontSize>a{position:absolute; right:1px; bottom:0; width:2px; height:2px; font-size:0;} */
.no-js .fontSize{display: none;}
@media screen and (min-width:1220px){
	
}
/*內容區 .center*/
.friendly{clear:both;padding:.7em 0 0;overflow:hidden;}
.path{color:#999;margin:0;}
.path .before{padding-right:15px;margin-right:8px;background:url(../images/path.png) no-repeat right center;}
.path a{text-decoration:none;color:#444;}
.path a:hover{color:#000;text-decoration:underline;}
.path a:focus{color:#000;text-decoration:underline;}
.function{overflow:hidden;_width:100%;margin:-18px 0 0 0;float:right;}
.function ul{list-style:none;margin:0;padding:0;float:right;font-size:13px;line-height:1;}
.function li{float:left;padding:18px 0 0 ;margin:0 4px;position:relative; height:50px;}
.function li a{display:block;text-indent:-3000px;width:44px;height:44px;border-radius:50%;text-decoration:none;background:#e3e6dd url(../images/function.png) no-repeat center 0;outline:none;transition:box-shadow .2s , background-color .2s;}
.function li a:hover{background-color:#89488e;box-shadow:#89488e 0 0 0 2px;}
.function li a:focus{background-color:#89488e;box-shadow:#89488e 0 0 0 2px;}
.function .print{background-position:center 3px;}
.function .forward{background-position:center -47px;}
.function .back{background-position:center -96px;}
.function .print:hover,
.function .print:focus{background-position:center -147px;}
.function .forward:hover,
.function .forward:focus{background-position:center -197px;}
.function .back:hover,
.function .back:focus{background-position:center -246px;}
.function a:before{display:block;text-indent:0;position:absolute;top:24px;width:44px;height:1.1em; padding:2px 0 0;color:#fff;text-align:center;transition:top .3s, color .3s;z-index:-1;}
.function .print:before{content:'列印';}
.function .forward:before{content:'轉寄';}
.function .back:before{content:'返回';}
.function a:hover:before,
.function a:focus:before{color:#899094;top:0; background:#fff;}


.no-js .function li{height:auto}
.no-js .function li a{display:inline-block; vertical-align:top;}
@media screen and (max-width:1120px){
	.friendly{padding:.5em 30px 0;}
}
