@charset "UTF-8";
/*縮圖瀏覽*/

.thumbnail{clear:both;margin:5px 0 20px;}
.thumbnail ul{list-style:none;margin:0;padding:16px;overflow: hidden;line-height: 1;}
.thumbnail ul>li{float: left;position: relative;width:31%;height:24.5em;padding:9px 0 6px;margin:0 .8% 20px;text-align:center;background:#fff;box-shadow:rgba(0,0,0,.4) 0 1px 5px; transition:box-shadow .2s;overflow: hidden;}
.thumbnail ul>li:nth-child(3n+1){margin-left:1.9%;}
.thumbnail ul>li:hover{box-shadow:rgba(0,0,0,.6) 0 6px 12px -4px; outline:1px solid #777;}
.thumbnail .image{display:block;margin:0 9px;height:16em;overflow:hidden;}
.thumbnail .image img{display:block;width:100%;height:100%;object-fit:cover;}
.thumbnail .image a {display:block}
.thumbnail .image a:focus {border:1px solid #c00;}

.thumbnail li p{margin:.5em 10px 0;padding:0;text-align:justify;*text-align:left;line-height:1.5;height:4.5em;overflow:hidden;}
.thumbnail ul ol{list-style:none;margin:.8em 10px .4em;padding:.4em 0 0;border-top:1px dotted #bbb;text-align:left;color:#888;line-height:1.1;overflow:hidden;}
.thumbnail ul ol li{margin:.5em 0 0;padding:0;height:1em;}
.thumbnail ul ol li.date{float:left;}
.thumbnail ul ol li.count{float:right;min-width:7em;text-align:right;}
.thumbnail ul ol li em{color:#333;}
.thumbnail li a{text-decoration:none;}
.thumbnail.videos ul>li{height:23em}
.thumbnail.videos .image{height:auto;background:#000;}
.thumbnail.videos .image img{height:auto;}
.thumbnail.videos li p{height:2.8em;margin-top: .8em}
.thumbnail.videos ul ol li.date{float:left;}
.thumbnail.videos ul ol li.count{float:right;text-align:right;}
.thumbnail.videos ul ol li.from{margin-bottom:5px;height:1.3em;line-height:1.5;overflow:hidden;}
.thumbnail.videos ul ol li.date{float:left;}
.thumbnail.videos ul ol li.count em{font-weight:bold;}
.thumbnail.videos .play{position:absolute;top:9px;left:9px;right:9px;height:120px;}
.thumbnail.videos .play a{background-size:56px;}

.thumbnail.banners ul>li{height:120px;padding:0;width:24%;margin:8px .5%;}
.thumbnail.banners ul>li .image{display:table;height:120px;margin:0 auto;display:block \9;}
.thumbnail.banners ul>li .image a{display:table-cell;vertical-align:middle;display:block \9;}
.thumbnail.banners ul>li .image img{height:100px;max-width:100%;object-fit:contain;}

@media screen and (max-width:1120px){
}
@media screen and (max-width:1000px){
	.thumbnail ul{padding:10px 0;}
	.thumbnail ul>li{height:20.5em;}
	.thumbnail .image{ height: 12em;}
	.thumbnail.banners ul>li{width:30%;margin:5px 1% 15px;}
	.thumbnail.banners ul>li:nth-child(3n+1){margin-left: 3%}
}
@media screen and (max-width:800px){
	.thumbnail ul{margin:0 auto;padding:10px 0 20px;overflow:hidden;}
	.thumbnail ul>li{margin-left:1%;margin-right:1%;width:47%;height:20.5em;}
	.thumbnail ul>li:nth-child(3n+1){margin-left:1%;}
	.thumbnail ul>li:nth-child(2n+1){margin-left:2%;}

	.thumbnail.banners ul>li{margin-left:1.5%;margin-right:1.5%;width:44%;}
	.thumbnail.banners ul>li:nth-child(3n+1){margin-left:1.5%;}
	.thumbnail.banners ul>li:nth-child(2n+1){margin-left:4.5%;}
}
@media screen and (max-width:600px){
	.thumbnail{margin:0;background: #d0d6dd;}
	.thumbnail ul{ margin:0 auto;width: 94%;padding: 10px 2%;}
	.thumbnail ul>li{float:none;display: block;margin:20px 0 30px;padding:10px;height:auto;width: auto;box-shadow: none;}
	.thumbnail ul>li:nth-child(3n+1){margin-left:0;}
	.thumbnail ul>li:nth-child(2n+1){margin-left:0;}
	.thumbnail .image{height:auto;width: auto; margin: 0 auto;}
	.thumbnail .image img{max-width: 100%;height: auto;}
	.thumbnail ul>li:hover{outline:none;}
	.thumbnail 	.thumbnail ul>li:first-child{margin-top: 0;}

	.thumbnail.banners ul{margin:0 auto;width: 94%;}
	.thumbnail.banners ul>li{height:auto;width: auto;margin: 4px 0 10px;background: none;}
	.thumbnail.banners ul>li a{ display: inline-block; padding:4px;background: #fff;}
	.thumbnail.banners ul>li:nth-child(3n+1){margin-left:0;}
	.thumbnail.banners ul>li:nth-child(2n+1){margin-left:0;}
	.thumbnail.banners ul>li .image{height: auto;max-width: 100%;}
	.thumbnail.banners ul>li .image img{height: auto;}
	.thumbnail.banners ul>li:hover{box-shadow: none;}
}

/*======================*/

/*------電子期刊 */
.thumbnail.eMags ul>li{position:relative;height:29em;padding-bottom:6em;}
.thumbnail.eMags ul>li h3{height:1.2em;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:1.2em;line-height:1.2;margin:0 9px;}
.thumbnail.eMags ul>li h3 a{color:#000;}
.thumbnail.eMags ul>li h3 a:hover{color:#d00;}
.thumbnail.eMags ul>li h3 a:focus{color:#d00;}
.thumbnail.eMags ul>li .image{margin:0 9px .8em;height:18em;width:auto;text-align:center;}
.thumbnail.eMags ul>li .image img{max-height:18em;max-width:100%;object-fit:scale-down;shadow:rgba(0,0,0,.5) 0 6px 4px;border:none;display:inline-block;margin:0 auto;}
.thumbnail.eMags ul ol{margin:.5em 9px;padding:0;height:auto;border:none;overflow:hidden;}
.thumbnail.eMags ul>li p{height:4.4em;overflow:hidden;margin:.3em 9px .7em;padding:0;}
.thumbnail.eMags ul>li p:empty{display:none;}
.thumbnail.eMags ul>li p + ul{padding-top:.5em; border-top:1px dotted #bbb;}
.thumbnail.eMags li.from , .thumbnail.eMags li.date , .thumbnail.eMags li.duration{ display:block;font-weight:normal;margin-bottom:.3em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.thumbnail.eMags li.date{float:left;} .thumbnail.eMags li.duration{float:right;}
.thumbnail.eMags li.from em , .thumbnail.eMags li.date em , .thumbnail.eMags li.duration em{font-weight:normal;}
.thumbnail.eMags ul ol + ol{position:absolute;left:9px;bottom:14px;text-align:left;margin:0;width:35%;}
.thumbnail.eMags li.count{float:none;min-width:0;display:block;text-align:left;margin-top:.7em;}
.thumbnail.eMags li button{position:absolute;right:10px;bottom:10px;width:42%;display:inline-block;height:2.8em;line-height:2em;margin:.6em 0 0;padding:0 .4em;border:none;border-radius:4px;background:#7faf0b;color:#fff;font-size:1.06em;cursor:pointer;}
.thumbnail.eMags li button:hover{background-color:#a0cc00;}
.thumbnail.eMags li button:focus{background-color:#a0cc00;}
@media (max-width:1059px){
.thumbnail.eMags li.date , .thumbnail.eMags li.duration{float:none;}
}
@media (max-width:800px){
.thumbnail.eMags ul>li{height:auto;padding-bottom:4.2em;}
.thumbnail.eMags ul>li p{height:auto;max-height:4.4em;}
}

/*------eBooks 電子書*/
.thumbnail.eBooks ul>li{position:relative;height:32em;overflow:visible;}
.thumbnail.eBooks li .image{margin-bottom:.8em; overflow:visible;max-width:98%;max-height:15em;}
.thumbnail.eBooks li .image img{width:auto;max-width:100%;max-height:15em;margin:0 auto;border:1px solid #aaa;box-sizing:border-box;transition:box-shadow .15s;}
.thumbnail.eBooks li .image img:hover{border:1px solid #333;box-shadow:rgba(0,0,0,.4) 0 6px 16px 2px;}
.thumbnail.eBooks li .image>a:focus img{border:1px solid #c00;}
.thumbnail.eBooks li h3{padding:0;margin:0 9px .5em;line-height:1.1;}
.thumbnail.eBooks li h3 a{display:block;margin:0;text-align:ceter;color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.thumbnail.eBooks li h3 a:hover{text-decoration:underline;}
.thumbnail.eBooks li h3 a:focus{text-decoration:underline;}
.thumbnail.eBooks li p{line-height:1.5em;max-height:4.5em;height:auto;text-align:left;}
.thumbnail.eBooks ul ol{position:absolute;left:0;bottom:.2em;right:0;padding-top:.8em;height:auto;background:none;}
.thumbnail.eBooks ul ol li{margin:0 0 .5em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.thumbnail.eBooks ul ol li.from{text-indent:-5.5em;padding-left:5.5em;}
.thumbnail.eBooks ul ol li.date{font-family:inherit;float:none;clear:both;display:block;}
.thumbnail.eBooks ul ol li.duration{float:left;}
.thumbnail.eBooks ul ol li.count{float:right;}
.thumbnail.eBooks ul ol li.date em{font-family:Arial, Helvetica, sans-serifl;font-weight:normal;}
.thumbnail.eBooks li p.downloadPdf{position:absolute;left:0;right:0;top:23.2em;height:3em;line-height:1.2;margin:0 10px;padding:0;text-align:center;overflow:visible;}
.thumbnail.eBooks li p.downloadPdf a{display:inline-block;margin:0 auto;padding:.6em 1.2em .4em;background:#7c8785;color:#fff;border-radius:2.5em;box-shadow:#555d5d 0 3px 0, #000 0 5px 2px;}
.thumbnail.eBooks li p.downloadPdf a:hover{background-color:#666d6c;color:#fef400;}
.thumbnail.eBooks li p.downloadPdf a:focus{background-color:#666d6c;color:#fef400;}

/*--------------apps*/
.thumbnail.apps ul {overflow: hidden;}
.thumbnail.apps ul>li{ position:relative;width:auto; height:auto; min-height:150px;margin:0 0 20px; padding:10px 80px 10px 10px;overflow:hidden; text-align:left;}
.thumbnail.apps ul li .image{width:150px;height:150px;margin:0 10px 0 0; float:left;}
.thumbnail.apps li .image img{display:block;margin:0 auto;width:150px;height:150px;}
.thumbnail.apps ul li h3, .thumbnail.apps ul li h4{display:block;width:auto;padding:0; margin:0 8px .6em;font-size:1.05em;line-height:1.3;}
.thumbnail.apps ul li h4 { font-size:.93em; color:#777; font-weight:normal;}
.thumbnail.apps ul li p{margin:0 8px;padding:0;line-height:1.6; height:auto;}
.thumbnail.apps ul ol{ position:absolute; right:0; top:0; bottom:0;width:50px;padding:10px; margin:0;text-align:center; background:#444; color:#ccc;border:none; }
.thumbnail.apps ul ol:before{content:'下載'; display:block; margin:2px auto 6px;}
.thumbnail.apps li li{height:auto;margin:6px 0 4px;padding:0; }
.thumbnail.apps li li a{display:block;background:url(../images/appIcons.bmp) no-repeat 0 0;width:36px;height:36px;margin:0 auto;font-size: 0;}
.thumbnail.apps li li a:hover{box-shadow:#fff 0 0 3px 1px;border-radius:3px}
.thumbnail.apps li li a:focus{border:1px solid #fc0;}
.thumbnail.apps li li.sysAndroid a{background-position:-40px 0;}
.thumbnail.apps li li.sysWin a{background-position:-80px 0;}
@media (max-width:1072px){
.thumbnail.apps ul { margin:0 12px;}
}

@media (max-width:1000px){
.thumbnail.eBooks ul>li{height:32em;}
.thumbnail.eBooks li .image{height:13.5em;}
.thumbnail.eBooks li .image img{max-height: 13.5em;}
.thumbnail.eBooks li p.downloadPdf{top:22em;}
.thumbnail.eBooks ul ol li.duration,.thumbnail.eBooks ul ol li.count{float:none;text-align:left;}
.thumbnail.apps ul li h3 { font-size:1.36em; margin-bottom:.2em}
}
@media (max-width:800px){


.thumbnail.eBooks li p.downloadPdf{position:static;margin:.8em auto;}
.thumbnail.eBooks ul ol{position:static;}

.thumbnail.apps ul>li { padding-right:10px;}
.thumbnail.apps ul li h3, .thumbnail.apps ul li h4, .thumbnail.apps ul li p { margin-left:0; margin-right:0;}
.thumbnail.apps ul ol { position:static; width:auto; margin:10px -10px -10px;}
.thumbnail.apps ul ol:before { float:left;margin:9px 10px 0 0; font-size:.9em;width:20%;}
.thumbnail.apps li li { float:left;margin:0; width:25%; }
}
@media (max-width:600px){
.thumbnail.eBooks ul>li{height:auto;}
.thumbnail.apps ul>li .image{width:auto;height:auto;width:auto; margin:0 0 12px 0; float:none; display:block;}
.thumbnail.apps ul>li .image img{ width:auto;height:auto;width:auto; }
}


/*------honor 榮譽榜*/
.thumbnail.honor ul>li{height:25em;background:#f7f7f3;text-align:center;}
.thumbnail.honor li .image{display:inline-block;height:14em;max-width:90%;background:#fff;padding:4px;box-shadow:rgba(0,0,0,0.4) 0 1px 4px;}
.thumbnail.honor li .image img{margin:0;padding:0;width:auto;max-width:100%;max-height:14em;object-fit:scale-down;}
.thumbnail.honor li p{text-align:center;height:auto;width:auto;line-height:120%;}
.thumbnail.honor li .image+p{font-size:1.2em;letter-spacing:4px;*line-height:135%;}
.thumbnail.honor li p a{display:inline-block;padding:.3em .8em .2em;background-color:#7c8785;color:#fff;border-radius:2em;}
.thumbnail.honor li p a:hover{background-color:#89488f}
.thumbnail.honor li p a:focus{background-color:#89488f;outline:none;}
@media (max-width:800px){
.thumbnail.honor ul>li{height:auto;padding-top:1em;padding-bottom:1em;}
.thumbnail.honor li .image{height:auto;}
.thumbnail.honor li .image img{max-height:none;}
.thumbnail.honor li p{text-align:center;}
.thumbnail.honor li .image+p{font-size:1.2em;letter-spacing:4px;*line-height:135%;}
.thumbnail.honor li p a{display:inline-block;padding:.3em .8em .2em;background-color:#7c8785;color:#fff;border-radius:2em;}
}

/*--------------venue*/
.thumbnail.venue ul {border: 1px solid #aaa;padding: 0}
.thumbnail.venue ul>li{width:100%; height:auto;margin:0 auto; padding:0; text-align:left;box-shadow: none;border-top: 1px solid #ccc;}
.thumbnail.venue ul>li:first-child{border: none;}
.thumbnail.venue ul>li:hover{box-shadow: none;outline: none;}

.thumbnail.venue li a{display: block;padding:2em 4%;overflow:hidden;}
.thumbnail.venue li a:hover,
.thumbnail.venue li a:focus{background: #fffeba;}

.thumbnail.venue li .image{width:240px;height:180px;margin:-5px 1.2em -5px -5px; float:left;border: 5px solid #fff;box-shadow: rgba(0, 0, 0, .6) 0 0 3px;transition: .3s;}
.thumbnail.venue li a:hover .image{box-shadow: rgba(0, 0, 0, .5) 0 2px 9px;}
.thumbnail.venue li h3{/* display:inline-block; */width:auto;padding:0; margin:0 1em 1em 0;line-height:1.3;font-size: 1.25em;}
.thumbnail.venue li a:hover h3,
.thumbnail.venue li a:focus h3{text-decoration: underline;}

.thumbnail.venue li p{margin:0;padding:0;line-height:1.7; height:auto;}
.thumbnail.venue li h3+p{float: right;display: inline-block;border:1px solid #5d736e;padding: 0 .5em; border-radius:3px;height: 1.8em;line-height: 1.8em;margin-top: -.2em;margin-bottom: .8em;font-size: 1.05em;background: #fff;}
.thumbnail.venue li h3+p+p{clear: right;}

@media (max-width:1000px){
	.thumbnail.venue ul{border-left: none;border-right: none;}
}

@media (max-width:800px){
	.thumbnail.venue ul{border-left: none;border-right: none;}
}
@media (max-width:600px){
	.thumbnail.venue{background: none;}
	.thumbnail.venue ul{border: none;}
	.thumbnail.venue ul>li,
	.thumbnail.venue ul>li:first-child{width: 98%;margin: .8em auto;border: 1px solid #999;}
	.thumbnail.venue div div ul>li:first-child{margin-top: 0;}
	.thumbnail.venue li .image{float: none;width: 90%;height:auto;margin: 0 auto 1em;box-shadow: rgba(0, 0, 0, .4) 0 0 9px;}
	.thumbnail.venue li h3{display: block;width: 92%;padding: .4em 4%;background: #5d666f;color: #fff;}
	.thumbnail.venue li p+p {display: block;width: 92%;margin-left: auto;margin-right: auto;}
	.thumbnail.venue li h3+p{margin-left: 3.2%;float: none;}
	.thumbnail.venue li a{padding:1em 0;}
	.thumbnail.venue li a:hover h3{background: #ec7505}

}






















